.main-content {width:80%; margin:0 auto; }
.main-content h2, .main-content h3 { margin-left:-50px; text-decoration:underline;
                                     padding:10px; background-color:rgba(255, 255, 255, 1.0); border-radius:5px;}
.images-box { text-align:center; }
.images-box h4 { margin-bottom: 0;}
.image-box { text-align:center; width:100%; border:thin solid #444; padding:12px 0; }